/* Imported Google Font Poppins 400 & 700*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Common Styles and/or utilitis */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* .text-color {
  color: #6c6c6c;
} */
.container {
  max-width: 1160px;
}

main {
  display: flex;
  justify-content: center;
}

.button-fancy {
  text-decoration: none;
  padding: 10px 24px;
  background: #e02c6d;
  color: white;
}

/* header-section Styles*/
.header-section {
  background: #2d25a0;
  display: flex;
  justify-content: center;
}
/* nav area styles */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 42px 0 49px;
}
.nav-link {
  text-decoration: none;
  margin-right: 34px;
  color: white;
}
.nav-right .button-fancy i {
  margin-right: 10px;
}
.nav-right .button-fancy:hover i {
  transform: translate(5px);
}

/* welcome-section styles */
.welcome {
  display: flex;
  justify-content: center;
}

.welcome-title {
  font-size: 64px;
  color: white;
}
.welcome-contents .button-fancy i {
  margin-left: 10px;
}
.welcome-contents .button-fancy:hover i {
  transform: translate(5px);
}
.welcome-banner img {
  width: 100%;
}
/* Players Section Styles */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px 30px;
}

.player {
  max-width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image {
  width: 100%;
  height: auto;
}
.player-name {
  font-size: 28px;
  margin: 10px 0 0;
  color: #18191f;
}
.player-info {
  color: #6c6c6c;
}
